<?xml version="1.0" encoding="UTF-8"?>
<!-- <configuration>
    <system.web>		
        <customErrors defaultRedirect="http://apps.capsonic.com/CPR/401.html" mode="RemoteOnly">
            <error redirect="http://apps.capsonic.com/CPR/401.html" statusCode="401" />
        </customErrors>
    </system.web>
</configuration> -->
