<div class="container">
    <br>
    <br>
    <form class="form-horizontal">
        <legend>Gross Margin Future by Fiscal Period</legend>
        <pre class="well well-sm">This report works as following:
        -It's categorized in three Fiscal Periods (<b>Current Period</b>, <b>Second Period</b> and <b>Third Period</b>).
        -Fiscal Periods' dates are taken from Fourth Shift database.
        -<b>Current Period</b> starts from <b>Start Date</b> parameter and ends to what FS says to this <b>Start Date</b>'s Period to end.
        -Column <b>Past Due</b> gets calculated with <b>DemandSupply.RequiredDate</b> < <b>Today</b> parameter.</pre>
        <div class="form-group">
            <div class="col-xs-6 col-sm-4">
                <label>Start Date:</label>
                <input ng-model="filter_dateFrom" type="date" class="form-control">
            </div>
            <!-- <div class="col-xs-6 col-sm-4">
                <label>To:</label>
                <input ng-model="filter_dateTo" type="date" class="form-control">
            </div> -->
        </div>
    </form>
    <div class="row">
        <!-- <div class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10"> -->
        <div class="col-xs-12 col-sm-3 col-md-2 pull-right">
            <button class="btn btn-warning btn-block" ng-click="clearFilters();">Clean Filters</button>
            <a href="" ng-href="{{baseURL}}Report/GrossMarginFutureByFiscalPeriod/{{userName}}?date_from={{filter_dateFrom.getTime()}}&date_to={{filter_dateTo.getTime()}}" class="btn btn-primary btn-block">Download</a>
        </div>
    </div>
</div>
